html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Comfortaa', cursive;    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

.title {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 400;
    padding-right: 20px;
}

.section {
    padding-bottom: 150px;

}


.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;

}

.menu__btn span {
    height: 1px;
    background-color: #7b6152;
    width: 100%;
}

.header {
    background-color: #fff8f3;
}

.header__inner {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    background-image: url(../images/tel.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}

/*MAIN BLOCK*/

.main {
    background-color: #fff8f3;
    overflow-x: clip;
}

.top {
    padding: 40px 0 150px;
}

.top__inner {
    position: relative;

}

.top__content {
    width: 370px;
    padding: 150px 0 250px;
}

.top__title {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.top__text {
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.top__buy {
    padding: 18px 54px;
    background: #ffbd59;
    font-family: 'Comfortaa', cursive;    color: #000;
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.top__img {
    position: absolute;
    top: 0;
    left: 240px;
}

/*ABOUT*/

.about {
    background-color:#A5978E;
    padding: 50px 0 60px;
    color: #fafafa;
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    width: 370px;
}

.about__title {
font-family: Yeseva One;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #FAFAFA;
margin-bottom: 15px;

}


.about__text {
    margin-bottom: 15px;
    max-width: 370px;
}

.about__list {
    display: flex;
    padding-left: 110px;
    padding-bottom: 48px;
    align-items: center;
    gap: 20px;
    flex-basis: 930px;
    position: relative;
}

.about__list::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/about-decor.png);
    width: 22px;
    height: 30px;
}
.about__item-img {
    margin-bottom: 10px;
}

.about__item-text {
    font-size: 11px;
}

/*Products*/

.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
    
}


.section__content-descr {
    display: grid;
    grid-template-columns: auto auto;
}

.products__title {
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    margin-bottom: 15px;
}

.products__content {
    gap: 50px 90px;
}

.products__item {
    width: 290px;
    margin: 0 auto;
    text-align: center;
}

.products__item-img {
    margin-bottom: 8px;
}

.products__item-price {
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.products__item-title {
    margin-bottom: 27px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.products__item-text {
    margin-bottom: 27px;
    font-size: 12px;
    padding-bottom: 40px;
}

.button {
    padding: 18px 54px;
    background: #ffbd59;
    font-family: 'Comfortaa',cursive;
    font-size: 14px;
    font-weight: 600;
}

/*STEPS*/

.steps__section {
    background: #FFF8F3;
}

.steps__title {
    font-family: 'Yeseva One', cursive;

}

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

.steps__item {
    display: flex;
    gap: 40px;
    list-style-type: none;
    position: relative;
}

.steps__item:before {
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: #bea495;
    font-family: 'Yeseva One', cursive;
}

.steps__item:nth-child(n+10)::before {
    content: counter(number);
}

.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}

.steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px;
}

/*Courses*/

.course__item-img {
    position: relative;
    color: #fff;
    font-size: 11px;
    font-family: "Yeseva One", cursive;
}

.courses__title {
    padding: 15px;
    left: 10px;
    top: 45%;
}

.courses__time {
    padding: 7px 10px;
    left: 10px;
    top: 60%;
}

.courses__time span {
    font-size: 10px;
    font-family: 'Comfortaa', cursive;

}

.courses__price {
    padding: 19px 10px;
    right: 0px;
    bottom: 2px;
}

.courses__title,
.courses__time,
.courses__price {
    background-color: #BEA495;
    position: absolute;
}

/*TEAM*/

.team {
    background-color: #A5978E;
    padding: 80px 0 60px;
    color: #fff;
    margin-bottom: 150px;
}

.team__content {
    padding-bottom: 0;
    gap: 75px;
}

.team__item {
    position: relative;
}

.team__item-box {
    background-color: #7b6152;
    text-align: center;
    position: absolute;
    padding: 15px 10px 16px;
    width: 165px;
    z-index: 4;
    bottom: 13px;
    right: 33px;
}

.team__item-name {
    font-size: 12px;
}

.team__item-descr {
    font-size: 10px;
    font-family: "Yeseva One", cursive;

}








/*FOOTER*/

.footer {
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.email {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}

/*ADAPTIVE*/

@media (max-width: 1050px) {
    .steps__list {
        gap: 37px 35px;
    }

    .steps__item {
        gap: 30px;
    }
}

@media(max-width:1000px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top__content {
        width: 333px;
        padding: 95px 0 70px;
    }

    .top__img-l {
        width: 655px;
    }

    .top__img {
        left: 300px;
    }

    .top__text {
        margin-bottom: 30px; 
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
    }

    .section__inner {
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }

    .products__content {
        gap: 67px;
    }

    .section__text {
        font-size: 10px;
    }

    .team__content {
        gap: 30px 20px;
    }

}

@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .footer__social {
        justify-content: center;
    }

     .section__inner {
        grid-template-columns: 200px auto;
        gap: 0 10px;
    }

    .products__content {
        gap: 67px;
    }
}

@media(max-width:980px) {
    .steps__title {
        font-size: 30px;
    }

    .steps__list {
        gap: 37px 35px;
    }
    
    .steps__item {
        gap: 0 20px;
    }

    .steps__item-img {
        width: 85px;
        object-fit: cover;
    }

    .steps__item-text {
        font-size: 8px;
    }

    .steps__item::before {
        font-size: 20px;
    }
}
  
@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
    .container {
        max-width: 640px;
    }

    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    } 

    .top__content {
        width: 230px;
    }

    .top__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .top__text {
        margin-bottom: 20px;
    }

    .top__img {
        left: 180px;
    }

    .about__content {
        min-width: 200px;
    }

    .title {
        font-size: 15px;
    }

    .about__title {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .about__list {
        margin-left: 27px;
        gap: 0 10px;
    }

    .about__item-text {
         font-size: 6px;
    }

    .about__item-img {
        margin-bottom: 6px;
    }

    .about__item-img--1 {
        width: 120px;
    }

    .about__item-img--2 {
        width: 190px;
    }

    .about__item-img--3 {
        width: 120px;
    }

    .products__item {
        width: 200px;
    }

    .products__item-img {
        width: 200px;
        margin-bottom: 6px;
    }

    .button {
        font-size: 12px;
    }

    .products__item-text {
        font-size: 8px;
        margin-bottom: 18px;
    }

    .products__item-price {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .products__item-title {
        font-size: 12px;
        margin-bottom: 9px;
    }

    .button {
        padding: 10px 26px;
    }

    .courses__title {
        padding: 6px;
        left: -1px;
        top: 40%;
    }

    .courses__time {
        padding: 5px;
        left: -1px;
        top: 55%;
    }

    .courses__price {
        padding: 10px;
        right: 0;
        bottom: 9px;
    }

    .team__img {
        width: 140px;
    }

    .team__item-box {
        padding: 9px 6px 10px;
        width: 109px;
        bottom: 8px;
        right: -24px;
    }

    .team__item-name {
        font-size: 8px;
    }

    .team__item-descr {
        font-size: 7px;
    }


}

@media (max-width: 640px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__menu-list {
        width: 153px;
        background-color: #7b6152;
        color: #fff8f3;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        transform: translateY(-110%);
        transition: transform .5s ease;
    }

    .header__menu-list.menu--open {
        transform: translateY(0%);
    } 

    .menu__btn {
        display: flex;
    }

    .header__menu {
        order: 1;
    }

    .section__inner {
        display: block;
    }

    .section__descr {
        margin-bottom: 30px;
        text-align: center;
    }

    .team__item-box {
        right: auto;
        left: 80px;
    }

    }

    @media (max-width: 500px) {
        .footer__inner {
            flex-direction: column;
        }

        .footer__menu {
            padding: 50px 0;
            text-align: center;
        }

        .footer__menu-list {
            flex-direction: column;
        }

        .footer {
            padding: 50px 0;
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        .top {
            padding: 30px 0 50px;
        }

        .top__img-l {
            width: 309px;
            left: 167px;
        }

        .top__content {
            width: 180px;
        }

        .top__title {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .top__text {
            font-size: 8px;
            margin-bottom: 15px;
        }

        .top__buy {
            font-size: 10px;
            padding: 14px 41px;
        }

        .about__content {
            min-width: 170px;
        }

        .about__list {
            margin-left: 0;
            padding-left: 10px;
        }

        .about__item-text {
            display: none;
        }

        .about__item-img--1,
        .about__item-img--3 {
            width: 80px;
        }

        .about__item-img--2 {
            width: 140px;
        }

        .about__list {
            gap: 0 5px;
            align-items: flex-end;
        }

        .about__inner {
            align-items: flex-end;
        }

        .about {
            margin-bottom: 50px;
        }

        .section {
            padding-bottom: 50px;
        }

        .section__content-descr {
            padding-bottom: 62px;
        }

        .section__descr {
            margin: 0 auto 30px; 
            width: 300px;
        }

        .steps__list {
            gap: 25px 40px;
        }
    }

    @media(max-width: 404px) {
        .steps__list {
            gap: 20px 25px;
        }

        .steps__item {
            gap: 0 16px;
        }

        .steps__item-img {
            width: 66px;
        }

        .courses__content {
            grid-template-columns: auto;
        }

        .team__content {
            grid-template-columns: auto;
        }

        .team__img {
            width: 204px;
        }

        .team__item-name {
            font-size: 12px;
        }

        .team__item-descr  {
            font-size: 10px;
        }

        .team__item-box {
            width: 151px;
            left: 148px;
            bottom: 15px;
        }
    }

    @media (max-width: 360px) {

        .top__img-l {
            width: 185px;
        }

        .top__img {
            left: auto;
            right: 0;
        }

        .top__content {
            width: 200px;
            padding: 20px 0 0;
        }

        .top__title {
            font-size: 18px;
        }

        .top__text {
            font-size: 10px;
        }

        body {
            font-size: 8px;
        }

        .about__content {
            min-width: 233px;
        }

        .title {
            margin-bottom: 10px;
        }

        .about__list {
            padding-left: 12px;
            margin-left: 12px;
            gap: 0 15px;
            padding-bottom: 30px;
        }

        .about {
            padding-top: 25px;
            padding-bottom: 10px;
        } 

        .section__descr {
            margin: 0 auto 35px;
            width: 235px;
        }

        .products__item {
            width: 150px;
        }

        .products__content {
            gap: 40px 7px;
        }

        .products__item-img {
            width: 150px;
        }

        .button {
            font-size: 10px;
            margin-bottom: 5px;
        }

        .products__item-title {
             font-size: 10px;
        }

        .products__item-text {
            margin-bottom: 16px;
        }

        .steps__item-text {
            font-size: 6px; 
        }

        .courses__item,
        .courses__item img {
            width: 255px;
        }
    }